<footer class="bg-dark text-white text-center text-lg-start mt-5">
  <div class="container p-2 text-center">
      <!-- Column 1 -->
        <h5 class="text-uppercase">About Us</h5>
        <p class="mb-0">
            Website created by <strong>Anaf Mezgebu</strong> <br>
            Phone: <a href="tel:0994924132" style="color: white; text-decoration: none;">0994924132</a> <br>
            Email: <a href="mailto:anaf.coder@gmail.com" style="color: white; text-decoration: none;">anaf.coder@gmail.com</a>
        </p> <hr>

    <!-- Bottom bar -->
        <div class="text-center p-3 bg-secondary mt-0">
            © <span id="year"></span> GamingLaptopInEthiopia Inc.
        </div>
    </div>
</footer>
<script>
    const date = new Date();
    document.getElementById("year").textContent = date.getFullYear();
</script>